body
{
    font-family : Arial;
     font-size: 10pt;
}
.modalBackground {
	background-color:Black;
	filter:alpha(opacity=90);
	opacity:0.8;
}
.modalPopup {
	background-color:#FFFFFF;
	border:1px solid rgba(0,0,0,0.4);
    width:100%; 
	max-width:300px;
	height:auto;padding: 1em
}

.modalPopup_600 {
	background-color:#FFFFFF;
	border:1px solid rgba(0,0,0,0.4);
    width:100%; 
	max-width:600px;
	height:auto;padding: 1em
}

.modalPopup_500 {
	background-color:#FFFFFF;
	border:1px solid rgba(0,0,0,0.4);
    width:100%; 
	max-width:500px;
	height:auto;padding: 1em
}

.modalPopup_full {
	background-color:#FFFFFF;
	border:1px solid rgba(0,0,0,0.4);
    width:97%; 
	left:0!important; right:0; margin:auto;
	height:90%;padding: 1em
}

.modalPopup2 {
	background-color:#FFFFFF;
	border:1px solid rgba(0,0,0,0.4);
    width:100%; 
	max-width:600px;
	height:auto;padding: 1em
}
    .modalPopup .table td{border: none }
    .modalPopup .table h4 {
        font-size: 17px;
        padding-bottom: 10px;
        border-bottom: 1px solid #efefef;
    }
.family-data-table td {
    color: #000;
   
}
    .family-data-table td span {
        font-weight: normal;
        color: #444;
    }

@media screen and (max-width:1400px) {
     .modalPopup, .modalPopup2 {          top: 100px!important;   left: 50%!important;  transform :translateX(-50%)!important;    }
.modalPopup_600, .modalPopup_500 {           position:absolute!important; left: 50%!important;    transform: translateX(-50%)!important; top: 100px!important;    }
}